[Question] Possible to run 2 instances in parallel?

Hello!
I'm using Squid on Windows 10 and this is my config:
```
acl localnet src 10.0.0.0/8	# RFC1918 possible internal network
acl localnet src 172.16.0.0/12	# RFC1918 possible internal network
acl localnet src 192.168.0.0/16	# RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

tcp_outgoing_address 192.168.1.64

http_access allow localhost manager
http_access deny manager
http_access deny !Safe_ports
http_access allow localnet
http_access allow localhost
http_access deny all
http_port 3256

dns_nameservers 8.8.8.8 208.67.222.222
```
I'm sharing my machine's internet as a proxy server, thus I'm using 192.168.1.64.

Now I want to share my OpenVPN's internet as a proxy server on this same machine, I want to share 10.203.8.20.
How can I do this? How can I run 2 instances of Squid Windows?
Thanks very much in advance.

Hello Saya,

I frankly do not know. We never deployed more than 1 instance.
I suppose it is not possible.

Best regards,
Rafael

From: Saya47 <notifications@github.com>
Sent: Friday, 19 February 2021 09:56
To: diladele/squid-windows <squid-windows@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [diladele/squid-windows] [Question] Possible to run 2 instances in parallel? (#92)


Hello!
I'm using Squid on Windows 10 and this is my config:

acl localnet src 10.0.0.0/8    # RFC1918 possible internal network

acl localnet src 172.16.0.0/12 # RFC1918 possible internal network

acl localnet src 192.168.0.0/16        # RFC1918 possible internal network

acl localnet src fc00::/7       # RFC 4193 local private network range

acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines



acl SSL_ports port 443

acl Safe_ports port 80         # http

acl Safe_ports port 21         # ftp

acl Safe_ports port 443                # https

acl Safe_ports port 70         # gopher

acl Safe_ports port 210                # wais

acl Safe_ports port 1025-65535 # unregistered ports

acl Safe_ports port 280                # http-mgmt

acl Safe_ports port 488                # gss-http

acl Safe_ports port 591                # filemaker

acl Safe_ports port 777                # multiling http

acl CONNECT method CONNECT



tcp_outgoing_address 192.168.1.64



http_access allow localhost manager

http_access deny manager

http_access deny !Safe_ports

http_access allow localnet

http_access allow localhost

http_access deny all

http_port 3256



dns_nameservers 8.8.8.8 208.67.222.222

I'm sharing my machine's internet as a proxy server, thus I'm using 192.168.1.64.

Now I want to share my OpenVPN's internet as a proxy server on this same machine, I want to share 10.203.8.20.
How can I do this? How can I run 2 instances of Squid Windows?
Thanks very much in advance.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/diladele/squid-windows/issues/92>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AATNHVSQGUSJTWJDJF3DBX3S7YRR3ANCNFSM4X37LZWA>.
